<div class="container text-center">
    <form [formGroup]="formGroupStudent">
        <div class="mb-2">
            <div class="display-6">
                Cadastrar Alunos 🧑‍🎓
            </div>
        </div>
        <span *ngIf="submitted && nome.invalid">
            <small class="text-danger">Nome Inválido!</small>
        </span>
        <div class="input-group mb-3">
            <span class="input-group-text" id="name" >Nome</span>
            <input type="text" id="name" formControlName="name" class="form-control" name="name">
        </div>
        <span *ngIf="submitted && email.invalid">
            <small class="text-danger">Email Inválido!</small>
        </span>
        <div class="input-group mb-3">
            <span class="input-group-text" id="email">Email </span>
            <input type="email" id="email" formControlName="email" name="email" class="form-control">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="phoneNumber">Telefone </span>
            <input type="phone" id="phoneNumber" formControlName="phoneNumber" class="form-control"
                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="phoneNumber">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="address">Endereço </span>
            <input type="text" id="address" formControlName="address" class="form-control" name="address"
                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="course">Curso </span>
            <input type="text" id="course" formControlName="course" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" name="course">
        </div>
        <div class="mb-2  p-4 text-end">
            <button class="btn btn-primary me-2" (click)="clean()">Limpar</button>
            <button class="btn btn-success" style="width: 15%;" (click)="save()">Salvar</button>
        </div>
    </form>
</div>