<app-student-form [student]="student" (saveEvent)="onSaveEvent($event)" (CleanEvent)="onCleanEvent()">
</app-student-form>

<div class=" container text-center">
  <table class="table success">
    <thead class="table-success">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Endereço</th>
        <th scope="col">Telefone</th>
        <th scope="col">Curso</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let student of students">
        <th scope="row">{{student.id}}</th>
        <td>{{student.name}}</td>
        <td>{{student.email}}</td>
        <td>{{student.address}}</td>
        <td>{{student.phoneNumber}}</td>
        <td>{{student.course}}</td>
        <td>
          <button class="btn btn-light me-1 " (click)="edit(student)">📝</button>
          <button class="btn btn-light text-light" (click)="delete(student)">🗑️</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>